/*Menu*/
aside {
    height: 100%;
}
.menu {
    background-color: #39c2d7;
    width: 250px;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    /*padding: 10px 0;*/

    float: left;
    box-sizing: border-box;
}
.menu a {
    color: #fff;
}
.menu > li {
    border-bottom: 1px solid #5ecbdc;
}
.menu li {
    list-style: none;
    /*padding-left: 29px;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
}
.menu a {
    display: block;
    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu a > span {
    margin-right: 21px;
}
/*.menu__item_active {*/
/*background-color: #31a5b7;*/
/*}*/

/*noinspection CssNoGenericFontName*/
.menu a:before {
    font-family: FontAwesome;
    font-size: 19px;
    width: 21px;
    display: inline-block;
    margin-right: 20px;
}
.menu__item-home:before {
    content: "\f015";
}
.menu__item-documents:before {
    content: "\f0f6";
}
.menu__item-calendar:before {
    content: "\f073";
}
.menu__item-archive:before {
    content: "\f187";
}
.menu__item-nomenclature:before {
    content: "\f0ca";
}
.menu__item-organizations:before {
    content: "\f0f2";
}
#menu__item_has-submenu {
    border-bottom: none;
}
#menu__item_has-submenu > a {
    position: relative;
}
/*#menu__item_has-submenu > a::after {*/
/*content: "\f0d7";*/
/*font-family: FontAwesome;*/
/*position: absolute;*/
/*top: 30%;*/
/*right: 25px;*/
/*}*/
.menu__submenu {
    background-color: #e1f6f9;
}
.menu__submenu a {
    color: #7b7b7b;
}
/*End of menu*/
/*Dropdown menu*/

input[type=checkbox]{
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.menu__submenu{
    max-height: 0;
    overflow: hidden;
    transition: all .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
input[type=checkbox]:checked ~ .menu__submenu{
    max-height: 500px;
    border-bottom: 1px solid #5ecbdc;
}
input[type=checkbox]:checked ~ label{
    background-color: #31a5b7;
}

input[type=checkbox]:checked ~ label::after {
    transform: rotate(180deg);
}
.menu label {
    color: #fff;
    display: block;
    /*padding-left: 29px;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #5ecbdc;
}
.menu label span {
    margin-right: 22px;
}

/*noinspection CssNoGenericFontName*/
.menu__item_submenu::after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    top: 30%;
    right: 25px;
    transition-duration: 0.4s;
}
.menu a:hover {
    background-color: #31a5b7;
}
.menu label:hover {
    background-color: #31a5b7;
}
.menu__submenu a:hover {
    background-color: #39c2d7;
    color: #fff;
}

/*End of Dropdown menu*/