* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
}
a {
    text-decoration: none;
}
/*Upper sharepoint bar*/
.sharepoint-bar a {
    color: #fff;
}
.sharepoint-bar {
    background-color: #39c2d7;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}
.sharepoint-bar__logo {
    display: flex;
    align-items: center;
}
.sharepoint-bar__logo-img {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    margin-left: 8px;
}
.sharepoint-bar__nav {
    display: flex;
    align-items: center;
}
.sharepoint-bar__nav-links {
    padding-right: 30px;
}
.sharepoint-bar__nav-user {
    background-color: #eee;
    height: 29px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.sharepoint-bar__nav-user a{
    color: #464547;
}
.sharepoint-bar ul li {
    margin: 0 8px;
}
header ul li {
    display: block;
    float: left;
}

/*End of Upper sharepoint bar*/
/*Header bottom nav bar*/
.header-bottom-nav-bar {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 20px;
    text-transform: uppercase;
}
.header-bottom-nav-bar__left {
    display: flex;
    align-items: center;
}
.header-bottom-nav-bar__left li {
    padding: 2px 8px;
}
.header-bottom-nav-bar__left .active {
    background-color: #39c2d7;

}
.header-bottom-nav-bar__left .active a {
    color: #fff;
}
.header-bottom-nav-bar__left a {
    color: #464547;
}
.header-bottom-nav-bar__right a {
    color: #999;
}
.header-bottom-nav-bar__right li {
    padding-left: 16px;
}
/*End of header bottom nav bar*/
/*Logo bar*/
.logo-bar {
    background-color: #464547;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
.logo-bar__img  {
    display: flex;
    align-items: center;
}
.logo-bar__img h1 {
    color: #7ae6f7;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin-left: 20px;
}
.logo-bar__search {
    color: #ccc;
    font-size: 22px;
}
/*Menu*/
.menu {
    background-color: #39c2d7;
    width: 250px;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    /*padding: 10px 0;*/

    float: left;
    box-sizing: border-box;
}
.menu a {
    color: #fff;
}
.menu > li {
    border-bottom: 1px solid #5ecbdc;
}
.menu li {
    list-style: none;
    /*padding-left: 29px;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
}
.menu a {
    display: block;
    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu a > span {
    margin-right: 21px;
}
.menu__item_active {
    background-color: #31a5b7;
}
#menu__item_has-submenu {
    border-bottom: none;
}
#menu__item_has-submenu > a {
    position: relative;
}
#menu__item_has-submenu > a::after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    top: 30%;
    right: 25px;
}
.menu__submenu {
    background-color: #e1f6f9;
}
.menu__submenu a {
    color: #7b7b7b;
}
/*End of menu*/

/*Main section Header*/
/*Section Buttons*/
.main-section > header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.document-menu li {
    margin-right: 5px;
}
.document-menu li a {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    width: 190px;
    padding: 0 19px;
    box-sizing: border-box;
}
.document-menu__attach-doc .fa-paperclip {
    font-size: 20px;
}


.document-menu__new-doc {
    background-color: #a3c644;
}
.document-menu__attach-doc {
    background-color: #ecc134;
}
/*End of Section Buttons*/
/*Section Search*/
.section-search {
    position: relative;
}
.section-search__buttons {
    position: absolute;
    top: 8px;
    right: 6px;
    display: flex;
    align-items: center;
    color: #acacac;
    font-size: 14px;
}
.section-search__buttons .fa-search {
    margin: 0 5px;
    font-size: 17px;
}
input[type=search]{
    width: 390px;
    padding: 12px 6px 12px 12px;
    height: 35px;
}
/*End of Section search*/
/*Tabs section*/
.tab-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    background-color: #666;
}
.tab-links a {
    color: #fff;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    padding: 9px 20px;
    display: block;
}
.tab-links span {
    margin-right: 10px;
}
.tab-links__item_active > a {
    background-color: #fff;
    color: #666;
}
/*End of Tabs section*/
/*Main section*/
.main-section {
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 265px;
}
.main-section .tabs {
    border: 1px solid #d3d3d3;
}
.main-section h1 {
    font-size: 25px;
    line-height: 25px;
    font-family: "Oswald", sans-serif;
    color: #666;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 15px;
}
.tabs {
    position: relative;
}
.tab-content {
    overflow: auto;
}
.tab-content th, td {
    padding: 12px 22px;
    text-align: left;
}
.tab-content td {
    white-space: nowrap;
}
.tab-content th {
    padding-top: 60px;
    vertical-align: bottom;
}
.tab-content th:first-child {
    width: 60px;
}
.tab-content th:last-child {
    width: 60px;
}
.tab-content th:nth-last-child(2){
    width: 60px;
}
.tab-content h1 {
    position: absolute;
    left: 21px;
}
.tab-content table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
    margin-right: 0;
    table-layout: fixed;
    min-width: 1238px;
}
.tab-content table tr:nth-child(2n) {
    background-color: #f1f1f1;
}
.table-mark {
    color: #fff;
    display: inline-block;
    /*padding: 4px 0px;*/
    width: 65px;
    line-height: 20px;
    text-align: center;
}
.table-mark_signed {
    background-color: #a3c644;
}
.table-mark_awaits {
    background-color: #ecc134;
}
.table-mark_cancelled {
    background-color: #b32746;
}
.table-mark_approved {
    background-color: #39b7ac;
}
.table-mark_held {
    background-color: #999999;
}
.table-mark_changed {
    background-color: #937ebd;
}
.table-mark_deleted {
    background-color: #eb6a5a;
}
.th-sorted {
    position: relative;
}
.th-sorted a {
    color: #36c3d8;
    display: inline-block;
    position: relative;
}
.th-sorted::after {
    content: "";
    position: absolute;
    background-color: #7ae6f7;
    height: 3px;
    width: 90%;
    bottom: 0;
    left: 15px;
}
.th-sorted_down a::after {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: -12px;
    top: 30%;
    font-size: 15px;
}
