* {
    margin: 0;
    padding: 0;
}
/*Upper sharepoint bar*/
.sharepoint-cont {
    background-color: #39c2d7;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}
#sharepoint-left-cont {
    display: flex;
    align-items: center;
}
#sharepoint-logo {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    margin-left: 8px;
}
#sharepoint-right-cont {
    display: flex;
    align-items: center;
}
#sharepoint-nav {
    padding-right: 30px;
}
#sharepoint-user {
    background-color: #eee;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
#sharepoint-user a{
    color: #464547;
}
.sharepoint-cont ul li {
    display: inline-block;
    margin: 0 8px;
}
.sharepoint-cont a {
    color: #fff;
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
}

/*End of Upper sharepoint bar*/
#logocont {
    background-color: #464547;
}