@import "../../base/_environment";

$nav-bar_items: (
        share: "\f1e0",
        follow: "\f006",
        edit: "\f040",
);
// Creating pseudo-elements for menu-items icons
@each $name, $value in $nav-bar_items {
  .nav-bar__item-#{$name}:before {
    content: $value;
  }
}

.sharepoint-bar-wrap {
  @include media(tables_to_cards) {
    position: absolute;
    width: 100%;
    background-color: $nav-color;
    height: 26px;
    overflow: hidden;
    z-index: 1050;
    transition: height 0.3s ease;
    &:hover {
      height: 200px;
      .sharepoint-bar__logo:after {
        transform: rotate(180deg);
      }
    }
  }
}
.sharepoint-bar {
  background-color: $nav-color;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  a {
    color: #fff;
  }
  ul li {
    margin: 0 8px;
  }
  @include media(tables_to_cards) {
    position: absolute;
    width: 100%;
    padding-left: 0;
    display: block;
  }
}
.sharepoint-bar__logo {
  display: flex;
  align-items: center;
  @include media(tables_to_cards) {
    width: 100%;
    justify-content: center;
    &:after {
      @include fontAwesome('\f107');
      font-size: 25px;
      margin-left: 15px;
      transition-duration: 0.3s;
    }
  }
}
.sharepoint-bar__logo-img {
  text-transform: uppercase;
  font-family: $heading-font;
  font-size: 16px;
  margin-left: 8px;
}
.sharepoint-bar__nav {
  display: flex;
  align-items: center;
  @include media(tables_to_cards) {
    position: absolute;
    top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.sharepoint-bar__nav-links {
  padding-right: 30px;
  @include media(tables_to_cards) {
    position: absolute;
    display: block;
    width: 100%;
    top: 30px;
    left: 0;
    padding: 0;
    text-align: center;
    li {
      float: none;
    }
  }
}
.sharepoint-bar__nav-user {
  background-color: #eee;
  height: 29px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  @include fontAwesome();
  a {
    color: #464547;
    @include media(tables_to_cards) {
      color: #fff;
    }
  }
  @include media(tables_to_cards) {
    background-color: transparent;
  }
}
.sharepoint-bar__user-profile {
  font-family: $main-font;
  &:after {
    @include fontAwesome('\f0d7');/*caret-down*/
    margin-left: 12px;
  }
}
.header-bottom-nav-bar {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 20px;
  text-transform: uppercase;
  @include media(tables_to_cards) {
    position: absolute;
    top: 140px;
    width: 100%;
    display: block;
    background-color: transparent;
    padding: 0;
  }
}
.header-bottom-nav-bar__left {
  display: flex;
  align-items: center;
  li {
    padding: 2px 8px;
  }
  a {
    color: #464547;
    @include media(tables_to_cards) {
      color: #fff;
    }
  }
  .active {
    background-color: $nav-color;
    a {
      color: #fff;
    }
  }
  @include media(tables_to_cards) {
    justify-content: center;
  }
}
.header-bottom-nav-bar__right {
  li {
    padding-left: 16px;
  }
  a {
    color: #999;
    &:before {
      @include fontAwesome();
      margin-right: 4px;
    }
    @include media(tables_to_cards) {
      color: #fff;
    }
  }
  @include media(tables_to_cards) {
    display: flex;
    justify-content: center;
  }
}
.nav-bar__item-expand {
  @include fontAwesome();
}