@media screen and (max-width: 630px) {
    .inc-documents td:nth-child(1):before,
    .fax-documents td:nth-child(1):before {
        content: 'Incoming date:';
    }
    .inc-documents td:nth-child(2):before,
    .fax-documents td:nth-child(2):before {
        content: 'Incoming number:';
    }
    .inc-documents td:nth-child(3):before,
    .fax-documents td:nth-child(3):before {
        content: 'External Doc. Index:';
    }
    .inc-documents td:nth-child(4):before,
    .fax-documents td:nth-child(4):before {
        content: 'Type:';
    }
    .inc-documents td:nth-child(5):before,
    .fax-documents td:nth-child(5):before {
        content: 'Theme:';
    }
    .inc-documents td:nth-child(6):before,
    .fax-documents td:nth-child(6):before {
        content: 'Sent From:';
    }
    .inc-documents td:nth-child(7):before,
    .fax-documents td:nth-child(7):before {
        content: 'Sent To:';
    }
    .inc-documents td:nth-child(8):before,
    .fax-documents td:nth-child(8):before {
        content: 'Executor:';
    }
    .inc-documents td:nth-child(9):before,
    .fax-documents td:nth-child(9):before {
        content: 'Execution Date:';
    }
    .inc-documents td:nth-child(10):before,
    .fax-documents td:nth-child(10):before {
        content: 'Execution Mark:';
    }
    .inc-documents td:nth-child(11):before,
    .fax-documents td:nth-child(11):before {
        content: 'Actions:';
    }
    .out-documents td:nth-child(1):before {
        content: 'Outgoing date:';
    }
    .out-documents td:nth-child(2):before {
        content: 'Reg. number:';
    }
    .out-documents td:nth-child(3):before {
        content: 'Index:';
    }
    .out-documents td:nth-child(4):before {
        content: 'Type:';
    }
    .out-documents td:nth-child(5):before {
        content: 'Theme:';
    }
    .out-documents td:nth-child(6):before {
        content: 'Sent To:';
    }
    .out-documents td:nth-child(7):before {
        content: 'Executor:';
    }
    .out-documents td:nth-child(8):before {
        content: 'Signatory:';
    }
    .out-documents td:nth-child(9):before {
        content: 'Notes:';
    }
    .out-documents td:nth-child(10):before {
        content: 'Status:';
    }
    .out-documents td:nth-child(11):before {
        content: 'Actions:';
    }
}

