@media screen and (max-width: 1395px) {
    .menu {
        display: none;
    }
    .main-section {
        margin-left: 15px;
    }
    .mobile_nav {
        position: absolute;
        display: inline-block;
        font-size: 25px;
        color: #ccc;
        padding: 20px;
        top: 60px;
    }
    .menu {
        position: absolute;
        top: 130px;
        /*padding-top: 40px;*/
        padding-right: 30px;
        padding-bottom: 30px;
        z-index: 1000;
    }
    .logo-bar__left {
        margin-left: 35px;
    }
    #toggle__mobile-nav:checked ~ .menu {
        display: block;
    }
}
@media screen and (max-width: 827px){
    .document-menu li a{
        font-size: 0;
        width: 50px;
        padding: 0;
    }
    .document-menu a:after {
        font-size: 14px;
        margin-right: 7px;
    }
    .document-menu a:before {
        margin-left: 7px;
        margin-bottom: 2px;
    }
}
@media screen and (max-width: 630px) {
    .main-section {
        margin-left: 0;
        margin-right: 0;
    }
    .main-section .tabs {
        border-left: none;
        border-right: none;
    }
    .main-section h1 {
        font-size: 22px;
        margin-bottom: 14px;
    }
    .tab-links a {
        padding: 5px;
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
    }
    .tab-links a::before {
        display: none;
        margin-right: 5px;
        padding-right: 0;
    }
    .sharepoint-bar-wrap {
        position: absolute;
        width: 100%;
        background-color: $nav-color;
        height: 26px;
        overflow: hidden;
        z-index: 1050;
        transition: height 0.3s ease;
    }
    .sharepoint-bar-wrap:hover {
        height: 200px;
    }
    .sharepoint-bar-wrap:hover .sharepoint-bar__logo::after {
        transform: rotate(180deg);
    }
    .sharepoint-bar, .header-bottom-nav-bar {
        position: absolute;
    }
    .sharepoint-bar {
        width: 100%;
        padding-left: 0;
        display: block;
    }
    .sharepoint-bar__logo {
        width: 100%;
        justify-content: center;
    }
    .sharepoint-bar__nav {
        position: absolute;
        top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .sharepoint-bar__nav-user {
        /*position: absolute;*/
        background-color: transparent;
    }
    .sharepoint-bar__nav-user a {
        color: #fff;
    }
    .sharepoint-bar__nav-links {
        position: absolute;
        display: block;
        width: 100%;
        top: 30px;
        left: 0;
        padding: 0;
        text-align: center;
    }
    .sharepoint-bar__nav-links li {
        float: none;
    }

    .header-bottom-nav-bar {
        top: 140px;
        width: 100%;
        display: block;
        background-color: transparent;
        padding: 0;
    }
    .header-bottom-nav-bar a {
        color: #fff;
    }
    .header-bottom-nav-bar__left {
        justify-content: center;
    }
    .header-bottom-nav-bar__right {
        display: flex;
        justify-content: center;
    }
    /*noinspection CssNoGenericFontName*/
    .sharepoint-bar__logo::after {
        content: '\f107';
        font-family: FontAwesome;
        font-size: 25px;
        margin-left: 15px;
        transition-duration: 0.3s;
    }
    .logo-bar {

        padding-top: 35px;
    }
    .mobile_nav {
        top: 25px;
    }
    .menu {
        top: 95px;
        padding: 0;
        font-size: 14px;
    }
    .menu a {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .document-menu li:first-child {
        margin-left: 2px;
    }
    input[type=search] {
        -webkit-appearance: none;
        border-radius: 0;
    }
    .tab-content table {
        min-width: 270px;
    }
    .tab-content section thead {
        display: none;
    }
    .tab-content section h1 {
        position: static;
        margin-left: 22px;
    }
    .tab-content section tbody td {
        display: block;
    }
    .tab-content section tbody td {
        display: block;
        padding: 5px 22px;
    }
    .tab-content section tbody td:before {
        font-weight: bold;
        display: inline-block;
        width: 140px;
    }
    .inc-documents td:nth-child(1):before,
    .fax-documents td:nth-child(1):before {
        content: 'Incoming date:';
    }
    .inc-documents td:nth-child(2):before,
    .fax-documents td:nth-child(2):before {
        content: 'Incoming number:';
    }
    .inc-documents td:nth-child(3):before,
    .fax-documents td:nth-child(3):before {
        content: 'External Doc. Index:';
    }
    .inc-documents td:nth-child(4):before,
    .fax-documents td:nth-child(4):before {
        content: 'Type:';
    }
    .inc-documents td:nth-child(5):before,
    .fax-documents td:nth-child(5):before {
        content: 'Theme:';
    }
    .inc-documents td:nth-child(6):before,
    .fax-documents td:nth-child(6):before {
        content: 'Sent From:';
    }
    .inc-documents td:nth-child(7):before,
    .fax-documents td:nth-child(7):before {
        content: 'Sent To:';
    }
    .inc-documents td:nth-child(8):before,
    .fax-documents td:nth-child(8):before {
        content: 'Executor:';
    }
    .inc-documents td:nth-child(9):before,
    .fax-documents td:nth-child(9):before {
        content: 'Execution Date:';
    }
    .inc-documents td:nth-child(10):before,
    .fax-documents td:nth-child(10):before {
        content: 'Execution Mark:';
    }
    .inc-documents td:nth-child(11):before,
    .fax-documents td:nth-child(11):before {
        content: 'Actions:';
    }
    .out-documents td:nth-child(1):before {
        content: 'Outgoing date:';
    }
    .out-documents td:nth-child(2):before {
        content: 'Reg. number:';
    }
    .out-documents td:nth-child(3):before {
        content: 'Index:';
    }
    .out-documents td:nth-child(4):before {
        content: 'Type:';
    }
    .out-documents td:nth-child(5):before {
        content: 'Theme:';
    }
    .out-documents td:nth-child(6):before {
        content: 'Sent To:';
    }
    .out-documents td:nth-child(7):before {
        content: 'Executor:';
    }
    .out-documents td:nth-child(8):before {
        content: 'Signatory:';
    }
    .out-documents td:nth-child(9):before {
        content: 'Notes:';
    }
    .out-documents td:nth-child(10):before {
        content: 'Status:';
    }
    .out-documents td:nth-child(11):before {
        content: 'Actions:';
    }
}
@media screen and (max-width: 630px) and (orientation : landscape){
    .tab-content section tbody tr {
        display: block;
        float: left;
        width: 50%;
    }
    .tab-content table tr:nth-child(2n) + tr {
        background-color: #f1f1f1;
    }
}
@media screen and (max-width: 630px) and (orientation : portrait){
    .tab-content section tbody tr {
        display: block;
        float: left;
        width: 100%;
    }
}

@media screen and (max-width: 530px){
    .section-search {
        width: 100%;
        position: absolute;
        right: 0;
    }
    input[type=search] {
        position: absolute;
        width: calc(100% - 112px);
        right: 0;
        transition: width 0.3s ease;
        -webkit-appearance: none;
        border-radius: 0;
    }
    input[type=search]:focus {
        width: calc(100% - 2px);
    }
    footer {
        padding-right: 20px;
        padding-left: 20px;
        flex-wrap: nowrap;
    }
    footer ul {
        display: flex;
        align-items: center;
    }
    footer ul li {
        padding: 0 6px;
        white-space: nowrap;
    }
}