@import "_variables";
@import "header";
@import "nav";
@import "main-section";
@import "footer";
@import "media";

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}
body {
    font-family: $main-font;
    font-size: 14px;
}
a {
    text-decoration: none;
}
header ul li {
    display: block;
    float: left;
}
.body-wrapper {
    min-height: 100%;
    position: relative;
}