@import "_variables.scss";
@import "header.scss";
@import "nav.scss";
@import "main-section.scss";
@import "footer.scss";
@import "media.scss";

* {
    margin: 0;
    padding: 0;
}
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}
body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
}
a {
    text-decoration: none;
}
/*.main-section {*/
    /*min-width: 585px;*/
/*}*/
/*body > header {*/
    /*min-width: 850px;*/
/*}*/
/*body > footer {*/
    /*min-width: 850px;*/
/*}*/
header ul li {
    display: block;
    float: left;
}