@import "base/_environment";
@import "modules/header/_header";
@import "modules/nav/_nav";
@import "modules/main-section/_main-section";
@import "modules/footer/_footer";
@import "media";

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}
body {
    font-family: $main-font;
    font-size: 14px;
}
a {
    text-decoration: none;
}
header ul li {
    display: block;
    float: left;
}
.body-wrapper {
    min-height: 100%;
    position: relative;
}