@import "../../base/_variables";
@import "main-section__doc-menu";
@import "main-section__search";
@import "main-section__tabs";

.main-section {
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 265px;
    padding-bottom: 60px;
    & > header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    h1 {
        font-size: 25px;
        line-height: 25px;
        font-family: $heading-font;
        color: $tabs-color;
        text-transform: uppercase;
        margin-top: 14px;
        margin-bottom: 15px;
    }
}
