@import "../../base/environment";

.document-menu {
  li {
    margin-right: 5px;
    @include media(tables_to_cards) {
      &:first-child {
        margin-left: 2px;
      }
    }
    a {
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 35px;
      width: 190px;
      padding: 0 19px;
      box-sizing: border-box;
      @include media(change_doc-menu) {
        font-size: 0;
        width: 50px;
        padding: 0;
        &:before {
          margin-left: 7px;
          margin-bottom: 2px;
        }
      }
      &:after {
        @include fontAwesome('\f0d7');
        @include media(change_doc-menu) {
          font-size: 14px;
          margin-right: 7px;
        }
      }
    }
  }
}
.document-menu__new-doc {
  background-color: #a3c644;
  &:before {
    //noinspection CssUnknownTarget
    content: url("./modules/main-section/images/newdoc.png");
    padding-top: 4px;
  }
  &:hover {
    background-color: lighten(#a3c644, 7%);
  }
}
.document-menu__attach-doc {
  background-color: #ecc134;
  &:before {
    @include fontAwesome('\f0c6');
    font-size: 20px;
  }
  &:hover {
    background-color: lighten(#ecc134, 7%);
  }
  .fa-paperclip {
    font-size: 20px;
  }
}