@import "../../base/environment";

.section-search {
  position: relative;
  @include media(flexible_search) {
    width: 100%;
    position: absolute;
    right: 0;
  }
}
/*noinspection CssNoGenericFontName*/
.section-search__buttons {
  font-family: FontAwesome;
  position: absolute;
  top: 8px;
  right: 6px;
  display: flex;
  align-items: center;
  color: #acacac;
  font-size: 16px;
  .fa-search {
    margin: 0 5px;
    font-size: 17px;
  }
}
input[type=search]{
  width: 390px;
  padding-left: 12px;
  height: 35px;
  @include media(change_doc-menu) {
    -webkit-appearance: none;
    border-radius: 0;
  }
  @include media(flexible_search) {
    position: absolute;
    width: calc(100% - 112px);
    right: 0;
    transition: width 0.3s ease;
    -webkit-appearance: none;
    border-radius: 0;
    &:focus {
      width: calc(100% - 2px);
    }
  }
}