@import "../../base/_environment";

$tab-links: (
        created: "\f040",
        under-approval: "\f017",
        sent: "\f0c0"
);

@each $name, $value in $tab-links {
  .tab-links__item-#{$name}:before {
    content: $value;
  }
}
.tab-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  background-color: $tabs-color;
  a {
    color: #fff;
    text-transform: uppercase;
    font-family: $heading-font;
    font-size: 15px;
    padding: 9px 20px;
    display: block;
    @include media(tables_to_cards) {
      padding: 5px;
      text-transform: uppercase;
      font-size: 14px;
      text-align: center;
    }
    &:before {
      @include fontAwesome();
      padding-right: 13px;
      @include media(tables_to_cards) {
        display: none;
        margin-right: 5px;
        padding-right: 0;
      }
    }
  }
}
.tab-links__item_active > a {
  background-color: #fff;
  color: $tabs-color;
}